extends layout

block content
    header
      #cssmenu
        ul
          li
            a(href='/')
              span Home
          li
            a(href='/leaderboard')
              span Leaderboard
          li
            a(href='/logout')
              span Logout
    .main-body
      section#login-left
        h2 Create a New Level
        form(role='form', method='post', action='/levels/new')
          label
            input(type='number', name='level', required='')
            .label-text Level Number (Next: #{levels.length})
          label
            input(type='text', name='title', required='')
            .label-text Level Title
          label
            input(type='text', name='clue1', required='')
            .label-text Clue
          label
            input(type='text', name='answer', required='')
            .label-text Answer
          button Add Level
     
      section#login-right
        table#level-info
          thead
            tr
              td#level-info-header(colspan='4') Existing Levels
            tr
              td Level
              td Title
              td Clue
              td Actions
          tbody
            each level in levels
              tr
                td #{level.level}
                td #{level.title}
                td #{level.clue1}
                td 
                  a(href='/levels/#{level._id}/edit', style='color: #0f0') Edit
                  &nbsp;
                  a(href='/levels/#{level._id}/delete', style='color: #f00') Delete