extends layout

block content
    header
      #cssmenu
        ul
          li
            a(href='/')
              span Home
          li
            a(href='/leaderboard')
              span Leaderboard
          li
            a(href='/logout')
              span Logout
    .main-body
      section#login-left
        if (editview)
          h2 Currently viewing level #{editview.level}
          form(role='form', method='post', action='/levels/#{editview._id}/edit')
            label
              input(type='number', name='level', required='', value='#{editview.level}')
              .label-text Level Number)
            label
              input(type='text', name='title', required='', value='#{editview.title}')
              .label-text Level Title
            label
              input(type='text', name='clue1', required='', value='#{editview.clue1}')
              .label-text Main Clue
            label
              input(type='text', name='comment_clue', value='#{editview.comment_clue}')
              .label-text Comment Clue
            label
              input(type='text', name='answer', required='', value='')
              .label-text Answer
            button Edit Level
          br
          h3 
            a(href='/admin') Create new level instead
        else if (searchview)
          h2 User search results
          h3(style="color: #0f0") Found #{searchview.length} result(s):
          if (searchview.length > 0)
            table#search_results
              thead
                tr
                  td Name
                  td Username
                  td Email
                  td Level
                  td Actions
              tbody
                each user in searchview
                  tr.result
                    td #{user.firstname}
                    td #{user.username} 
                    td #{user.email}
                    if (user.current_level == '-1')
                      td(style='color: #f00') #{user.current_level}
                    else
                      td #{user.current_level}
                    td 
                      a(href='/users/#{user._id}/disqualify', style='color: ##9B9B9B') Disqualify
          else
            h3(style="color: #f00") No results found

        else
          h2 Create a new level
          form(role='form', method='post', action='/levels/new')
            label
              input(type='number', name='level', required='')
              .label-text Level Number (Next: #{levels.length})
            label
              input(type='text', name='title', required='')
              .label-text Level Title
            label
              input(type='text', name='clue1', required='')
              .label-text Main Clue
            label
              input(type='text', name='comment_clue', required='')
              .label-text Comment Clue
            label
              input(type='text', name='answer', required='')
              .label-text Answer
            button Add Level
     
      section#login-right
        h2 Search Users
        form(role='form', method='post', action='/users/search')
          label
            input(type='text', name='query', required='')
            .label-text Search Query
          h3 Searching by
          label(for='username')           
             input(type='radio', name='parameter', id='username', value='username', checked)
             span(class='label-text') &nbsp;Username
          label(for='lastname')
             input(type='radio', id='lastname', name='parameter', value='lastname')
             span(class='label-text') &nbsp;Last Name
          label(for='firstname')
             input(type='radio', id='firstname', name='parameter', value='firstname')
             span(class='label-text') &nbsp;First Name
          label(for='email')
             input(type='radio', id='email', name='parameter', value='email')
             span(class='label-text') &nbsp;Email
        hr

        h2 Existing Levels
        table#level-info
          thead
            tr
              td(width=60) Level
              td Title
              td Clue
              td Actions
          tbody
            each level in levels
              tr
                td #{level.level}
                td #{level.title}
                td #{level.clue1}
                td 
                  a(href='/levels/#{level._id}/edit', style='color: ##9B9B9B') Edit
                  span.space &nbsp;
                  a(href='/levels/#{level._id}/delete', style='color: #4A4a4a') Delete
        br
    footer
        p
            | ©   Privacy Policy   Contact Us   The Developers